*
{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 16px;
}
li,ul
{
	list-style: none;
}
body
{
	width: 100%;
	background-color: #f0f0f0;
	min-width: 1000px;
}
.clearfix:before,.clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix:after
{
	clear: both;
}
input,button,select,textarea
{
	outline:none;
}
textarea
{
	resize:none;
}
/*-------------------头部---------------------*/
.head-wrap
{
	width: 100%;
	height:53px;
	background-color: #303A40;
}
#logo
{
	margin-left: 145px;
    vertical-align: middle;
}
.cover-wrap
{
	overflow: hidden;
	height: 270px;
	width:100%;
}
#cover
{
	width: 100%;
	height: auto;
}
.head-wrap span
{
	font-size: 20px;
	font-weight: bolder;
	color: white;
	line-height: 53px;
	padding-right: 50px;
	padding-top: 20px;
}
.head-wrap span,img
{
	cursor: pointer;
}
.head-wrap ul
{
	float: right;
	margin-right: 150px;
}
.head-wrap li
{
	float: left;
    color: #A2A2A2;
    line-height: 53px;
    font-size: 13px;
    padding-left: 20px;
    transition: all ease 0.3s; 
}
.head-wrap li:hover
{
	color: white;
	cursor: pointer;
}
.hide-home
{
	visibility: hidden;
	position: absolute;
	left: 250px;
}
.show-home
{
	visibility: visible;
	position: absolute;
	left: 250px;
}
header
{
	margin-bottom: 40px;
}
/*-------------------中部(透明部分)---------------------*/
.all-container
{
	width:1000px;
	margin: 0 auto;
	position: relative;	
	/*height:900px;*/
	margin-top: -250px;
	
}
.wrap-header
{	
	background-color: rgba(199,199,199,0.5);
	width: 100%;
	height: 170px;
}
.wrap-header img
{
	float: left;
	width: 220px;
	height: 110px;
	padding:30px ;
}
.wrap-title
{
	float: left;
	padding:30px 0px;
}
.wrap-title h1
{
	font-size: 28px;
	/*background-color: #B29E93;*/
	display: inline-block;
	/*margin-top:30px;*/
	font-weight: 100;
}
.wrap-title p
{
	font-size: 15px;
	padding: 14px 0;
}
.tag-wrap li
{
	width: 60px;
    height: 25px;
    background-color: white;
    border-radius: 10px;
    line-height: 30px;
    font-size: 12px;
    color: #666666;
    float: left;
    margin-right: 10px;
    line-height: 25px;
    text-align: center;
}
.wrap-content
{
	width: 100%;
	/*height: 500px;*/
	opacity: 1;
	background-color: white;
}
/*-------------------中部(非透明部分)---------------------*/
.left-wrap
{
	float: left;
	width: 680px;
	/*height: 500px;*/
	display: block;
	box-sizing: border-box;
	padding-left: 30px;
	padding-top: 30px;
}
/*-------------------中部(非透明部分)左边---------------------*/
.left-title
{
	font-weight: bolder;
	padding-left: 10px;
	/*display: inline-block;*/
	color: #454545;
	border-left: 3px #3D9CCC solid;
}
.left-ab
{
	font-size: 14px;
	color: #666666;
	height:80px;
	line-height: 80px;
	word-wrap: break-word;
}
#jianpic
{
	float: left;
	width: 210px;
	height: 140px;
	margin: 30px 20px 30px 0;
}
.appdiv
{
	float: left;
	margin-top: 30px;
	width: 400px;
}
.jianjie h2
{
	font-size: 20px;
	padding-bottom: 30px;
}
.left-app
{
	font-size: 14px;
	color: #666666;
	line-height: 30px;
	word-wrap: break-word;
}
.searchbox
{
	width: 620px;
	margin: 30px 0;
	height: 50px;
	background-color: #F0F0F0;
	display: block;
	box-sizing: border-box;
	padding: 10px;
	/*border-bottom: 1px #A2A2A2 dotted;*/
}
.sdiv 
{
	position: relative;
	width: 117px;
	height: 30px;
	margin-right: 10px;
	background-color: white;
	line-height: 30px;
	float: left;
	padding-left:10px ;
	border: 1px solid #E2E2E2;
}
.sdiv p
{
	font-size: 12px;
	color: #454545;
	
}
.xiala-wrap
{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.xiala
{	
	position: absolute;
	right: 10px;
	bottom: 12px;
	width: 10px;
	height: 10px;
	border: 1px solid #999999;	
	transform: rotate(45deg);
	border-left:none ;
	border-top: none;
}
.xiala-wrap:hover
{	
	background-color:#F0F0F0 ;
}
.xiala-wrap:hover>.xiala
{
	border: 1px solid #3D9CCC;
	border-left:none ;
	border-top: none;
}
.xiala-list
{
	position: absolute;
	width: 127px;
	/*height: 140px;*/
	background-color: #FAFAFA;
	z-index: 1000;
	border: 1px solid #E2E2E2;
	left: -1px;
	visibility: hidden;
}
.xiala-list li
{
	height: 28px;
	line-height: 28px;
	color: #454545;
	font-size: 12px;
	display: block;
	box-sizing: border-box;
	padding-left: 10px;
	cursor: pointer;
}
.xiala-list .first
{
	background-color: #3D9CCC;
	color: white;
} 
.xiala-list li:hover
{
	background-color: #3D9CCC;
	color: white;
}
#search
{
	display: block;
	float: left;
	width: 117px;
	height: 30px;
	border: 1px solid #E2E2E2;
}
#sbutton
{
	display: block;
	border: none;
	float: right;
	background-color: #3D9CCC;
	width: 70px;
	height: 30px;
	border-radius: 6px;
	line-height: 30px;
	text-align: center;
	color: white;
	cursor: pointer;
}
.jobs
{
	display: block;
	box-sizing: border-box;
	width: 620px;
	margin: 30px 0;
}
.job-wrap
{
	display: block;
	box-sizing: border-box;
	padding: 15px 0;
	border-top:1px dashed #E2E2E2;
	height: 120px;
}
.simple
{
	float: left;
	height: auto;
	width: 420px;
	line-height: 30px;
}
.sim-head
{
	color: #3D9CCD;
	font-size: 19px;
}
.sim-need span
{
	color: orangered;
}
.sim-time
{
	color:#999999;
	font-size: 12px;
}
.sim-need
{
	color: #666666;
	font-size: 16px;
}
.job-wrap input
{
	float: right;
	background-color: #3D9CCC;
	border: none;
	text-align: center;
	width:120px;
	height: 35px;
	color: white;
	border-radius: 2px;
	margin-top: 27px;
}

/*-------------------中部(非透明部分)右边---------------------*/
.right-wrap
{
	float: left;
	width: 320px;
	height: 500px;
	display: block;
	box-sizing: border-box;
	padding: 30px;
}
.right-ab
{
	padding-top: 25px;
	font-size: 14px;
	color: #666666;
	word-wrap: break-word;
	line-height: 30px;
}
#map
{
	margin: 10px 0;
}
.right-lala
{
	font-size: 14px;
	color: #666666;
	word-wrap: break-word;
	line-height: 30px;
	margin-bottom: 30px;
}
#ceo
{
	display: block;
	box-sizing: border-box;
	border-radius:50% ;
	width: 100px;
	height: 100px;
	margin: 20px auto;
}
#active
{
	margin: 10px auto;
}


/*-------------------尾部---------------------*/
footer
{
	/*margin-top: 30px;*/
	border-top: 1.5px #E2E2E2 solid;
}
.footer-wrap
{
	display: block;
	width:1000px;
	position: relative;
	margin: 20px auto;
}
#kefu
{
	padding-left: 40px;
}
.foobegin p
{
	color: #A2A2A2;
	line-height: 30px;
	text-align: center;
}
.foobegin,.fooend
{
	float: left;
}
.fooul
{
	float: left;
	display: block;
	box-sizing: border-box;
	padding: 0 50px;
	border-right: 1px dotted #A2A2A2;
}
.fooul li
{
	color: #A2A2A2;
	font-size: 13px;
	line-height: 25px;
}
.fooul li:hover
{
	text-decoration: underline;
	cursor: pointer;
}

#app
{
	padding-left: 30px;
}
.fooul .topic
{
	font-weight: bolder;
	color: #666;
	font-size: 15px;
}
.respon
{
	display: block;
	background-color:#EFEFEF ;
	width:100%;
	height:80px;
	position: relative;
}
.respon p
{
	font-size: 12px;
	color: #A2A2A2;
	text-align: center;
}
#first-child 
{
	padding-top: 25px;
}
/*-------------------右侧面的浮动块---------------------*/
.fdiv
{
	position: fixed;
	width: 44px;
	right: 110px;	
}
#advice
{
	top:480px;
}
#backtop
{
	top:432px;
	visibility: hidden;
	transition: all ease 0.3s;
}






